* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-1);
    color: var(--text-1);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars on the body */
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    flex-shrink: 0;
    background-color: var(--bg-2);
    padding: 15px;
    border-right: 1px solid var(--border-1);
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0; /* Default is visible */
}

.sidebar.sidebar-hidden {
    margin-left: -320px; /* Hide by pulling off-screen */
}

.input-container {
    display: flex;
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    margin-bottom: 15px;
}

#search-channel-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--border-1);
    border-radius: 4px;
    background-color: var(--bg-3);
    color: var(--text-1);
    font-size: 14px;
}


#m3u-url {
    flex-grow: 1;
    padding: 8px 10px;
    border: 1px solid var(--border-1);
    border-radius: 4px;
    background-color: var(--bg-3);
    color: var(--text-1);
    font-size: 14px;
}

#load-btn {
    padding: 8px 15px;
    border: none;
    background-color: var(--accent);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    transition: background-color 0.2s;
}

#load-btn:hover {
    background-color: var(--accent-hover);
}

.channel-container {
    flex-grow: 1;
    display: flex;
}

#channel-list {
    width: 100%;
    border: 1px solid var(--border-1);
    background-color: var(--bg-3);
    color: var(--text-1);
    border-radius: 4px;
    padding: 5px;
    font-size: 15px;
}

#channel-list option {
    padding: 8px 10px;
    cursor: pointer;
}

#channel-list option:hover {
    background-color: var(--accent);
}

.video-container {
    flex-grow: 1;
    display: flex;
    background-color: #000; /* video always black */
}

#video-player {
    width: 100%;
    height: 100%;
}
